.pbi-parent {
    width: 100%;
    height: calc(100vh - 230px);
    padding: 10px;

    .btn-fullscreen {
        position: absolute;
        bottom: 24px;
        right: 30px;
        padding: 8px 16px;
        background-color: #d3d3d378;
        color: #000000;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-fullscreen:hover {
        background-color: #7474749a;
        color: #ffffff;
    }
}