body {
  font-size: 15px !important;
  font-family: 'inherit', system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #ebedef;
  font-feature-settings: 'tnum';
}

.cke_dialog_tab[title='Upload'],
.cke_dialog_tab[title='Link'] {
  display: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  overflow: hidden;
}

#root {
  height: 100vh !important;
  overflow: hidden;
}

body {
  margin: 1px;
}